/*MEDIA SCREEN POUR TABLETTE ET MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 768px) {   
    header, #contenaire{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
    #box_nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }
    #box_logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #nav_links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    a[href="#heberg"]:hover, li a[href="#acti"]:hover{
        border-bottom: outset  #0266fb;
        border-top: none;
        padding-bottom: 20px;
    }
    #heberg_li, #acti_li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #contenaire_section, #section_form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
   
    #style_form, #ul_info, #present{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #txt_filtres{
        width: 100%;
    }
    #section_acti{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer, #acti, #main_page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: fit-content;
    }
    #ul_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    #section_aside{
        justify-content: center;
        align-items: center;
        width: 325px;
    }
    #main_page{
        margin: 0;
        padding: 0;
    }
    .ul_cards_aside{
        margin: 10px;
    }
    #contenaire_section{
        padding: 0;
    }
    #li_h2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

}