/*MEDIA SCREEN POUR TABLETTE ET MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    /*Dimensions du body*/
    body{
        width: 100%;
        min-width: 320px;
        max-width: 768px;
    }
    /*HEADER*/
    header, #contenaire{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        min-width: 320px;
        max-width: 768px;
        min-height: fit-content;
        max-height: max-content;
        margin: 0;
        padding: 0;
    }
    #box_logo, #box_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 320px;
        max-width: 768px;
        min-height: fit-content;
        max-height: min-content;
    }
    #nav_links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 160px;
        max-width: 384px;
    }
    /*LINKS*/
    #heberg_li, #acti_li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 160px;
        max-width: 384px;
        border-top: 0;
        margin: 0;
        padding: 0;
        font-size: 18px;
        padding-bottom: 20px;
        border-bottom: 2px solid transparent;
    }
    li a[href="#heberg"], li a[href="#acti"]{
        color: black;
        text-decoration: none;
    }
    /*HOOVER*/
    li a[href="#heberg"]:hover, li a[href="#acti"]:hover{
        /*border-bottom: 2px solid #0266fb;*/
        padding-bottom: 20px;
        color: blue;
        /* Une transition pour rendre ça fluide */
        transition: all .3s ease;
        border-top: transparent;
        width: 100%;
        min-width: 160px;
        max-width: 384px;
        border-color: blue;
    }
    #heberg_li:hover, #acti_li:hover{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid blue;
        margin: 0;
        padding: 0;
        transition: all .3s ease;
        border-top: transparent;
    }
    /*Dimension des contenaires du main*/
    #main_page, #contenaire_section, #section_aside, 
    #style_form, #ul_info, #present{
        width: 100%;
        min-width: 320px;
        max-width: 768px;
    }
    /*FORMULAIRES LOCALISATION*/
    #contenaire_section, #section_form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #style_form, #ul_info, #present{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #section_heberg{
        height: fit-content;
        margin-bottom: 20px;
        background-color: transparent;
    }
.img_cards_heberg{

}
.article_cards{

}
    #section_form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    #style_form{
        margin-left: 0;
        margin-right: 0;
        padding:0;
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    input[type="search"]{
        width: 100%;
        min-width: 307;
        max-width: 460px;
        padding-left: 15px;
    }
    input[value="rechercher"]{
        display: none;
    }
    button #loupe_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 68px;
        max-width: 90px;
    }
    #present{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #ul_filtres{
        flex-wrap: wrap;
    }
    #ul_info{
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
    }
    #main_page{
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
    }
    #contenaire_section{
        padding: 0;
    }
    #li_h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
        padding: 0;
    }
        /*ASIDE*/
        #section_aside{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
            border-radius: 0;
            padding: 0;
            border: 0;
        }
        .img_cards_aside{
        
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            object-fit: cover;
        }
    
        .ul_cards_aside{
            width: 100%;
            min-width: none;
            max-width: 653px;
            min-height: none;
            max-height: 400px;
        }
        /*Activités*/
        #section_acti{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            
        }
        .cards_acti_HS{
            margin: 0;
            height: 250px;
        }
        .cards_acti_HS, .cards_acti_LS, .cards_acti_HLS{
            margin-bottom: 5px;
        }
        /*FOOTER*/
        footer, #acti{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: fit-content;
        }
        #ul_footer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
        }

}

