/*MEDIA SCREEN POUR TABLETTE ET MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 768px) {   
    body{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        object-position: center;
    }
    
    header, #contenaire{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
    #box_nav{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
    }
    #nav_links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #box_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .cards_acti_HS{
        margin: 0;
        height: 250px;
    }
    .cards_acti_HS, .cards_acti_LS, .cards_acti_HLS{
        margin-bottom: 5px;
    }
    #nav_links{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    li a[href="#"]:hover, li a[href="#"]:hover{
        /*border-bottom: 2px solid #0266fb;*/
        border-top: none;
        padding-bottom: 20px;
        /* Une transition pour rendre ça fluide */
        transition: all .3s ease;
    }
    #heberg_li, #acti_li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 189px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
    }
    #heberg_li:hover, #acti_li:hover{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid blue;
        margin: 0;
        padding: 0;
        transition: all .3s ease;
    }
    #contenaire_section, #section_form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
   
    #style_form, #ul_info, #present{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #txt_filtres{
        width: 100%;
    }
    #section_acti{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer, #acti, #main_page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: fit-content;
    }
    #ul_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    #section_heberg{
        width: 325px;
        margin-bottom: 20px;
        background-color: transparent;
    }
.img_cards_heberg{

}
.article_cards{

}
    #section_form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    #style_form{
        margin-left: 0;
        margin-right: 0;
        padding:0;
        width: fit-content;
    }
    input[type="search"]{
        width: 170px;
        padding-left: 15px;
    }
    #section_aside{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        border-radius: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    #present{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #ul_filtres{
        flex-wrap: wrap;
    }
    #ul_info{
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
    }
    #main_page{
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
    }
    .ul_cards_aside{
        margin: 10px;
    }
    #contenaire_section{
        padding: 0;
    }
    #li_h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
        padding: 0;
    }

}