/*BODY*/
body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Times New Roman';
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}
/*LISTES*/
li 
{
    list-style-type: none; /*Suppression du point*/
}
ul
{
    padding-left: 0; /*suppression de la marge à gauche*/
}
/*LIENS*/
a
{
    color: black;
    text-decoration: none;
}
li a[href="#heberg"]:hover, li a[href="#acti"]:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid  #0266fb;
    color: #0266fb;
    width: 215px;
    height: 120px;
    /* Une transition pour rendre ça fluide */
    transition: all .3s ease;
    /*position: fixed;_fixer le deplacement de la bordure bleu(voir avec TD)*/
    margin: 0;
}
#heberg_li, #acti_li{
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    margin: 0;
    padding: 0;
}
li a[href="#heberg"], li a[href="#acti"]{
    color: #9c9c9c;
}
a :active{
    color: red;
}

a:visited{
    color: blueviolet;
}
/*ETOILES*/
.star_quality .star_black{
    color: #d9d9d9;
}
.star_quality{
    margin-top: 15px;
}
/*HEADER*/
#contenaire
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
}
#logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 108px;
    object-fit: cover;
    padding-left: 13px;
}
#box_nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 430px;
 
}
#nav_links
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
/*FORMULAIRE*/
#form_search
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#localisation, #txt, #rech, input[type="search"], input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 68px;
}
#localisation{
    width: 71px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #f2f2f2;
}
#localisation i{
    font-size: 20px;
}
#localisation:hover, input[type="submit"]:hover, button:hover{
    cursor: pointer;
}
input[type="search"]{
    border-style: none;
    border-bottom: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
    width: 312px;
    font-weight: bold;
    padding-left: 30px;
    font-size: 16px;
    /* Une transition pour le changement d'icone */
    transition: all .3s ease;
}
.loupe_mobile{
    display: none;
}
input[type="submit"]/* cible le champ input type envoi*/{
    border: 2px solid #0063f6;
    background-color: #0063f6;/*couleur identique à la box #rech*/
    width: 179px;
    border-top-right-radius: 15px;/*arrondi sup droit*/
    border-bottom-right-radius: 15px;/*arrondi inf droit*/
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}
/*FILTRES*/
#ul_filtres, #ul_info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ul_filtres button, #ul_filtres i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#ul_filtres button:hover{
    color: #0266fb;
}
button{
    padding: 0;
}
.textes_button:not(#filtres)
{
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
#filtres{
    font-weight: bold;
    padding-right: 20px;
    font-size: 14px;
}
.loupe{
    display: none;
}
#ul_filtres li{
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
}
button
{
    border-radius: 40px;
    border-style: none;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}
/*aggrandissement icone non fopnctionnel voir avec TD*/
/*.fa-solid{
    width: 25px;
    height: 25px;
    height: fit-content;*/
    /*Trouvé font awesome> font size ^_^*/
  
}
#logo_info
{
    margin-right: 10px;
    color: #0063f6;
}
#ul_filtres i, #ul_info i
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
#ul_filtres i{
    background-color: #deebff;
    color: #0266fb;
}
#ul_info i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1pt solid #e7e7e7;
}
#section_form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}
#section_form, #present, #style_form, #ul_filtres, #ul_info{
    margin-bottom: 10px;
    padding: 0;
}
/*MAIN ET SECTIONS*/
main{
    padding-left: 20px;
}
/*BOX MAIN (HEBERG+ASIDE)*/
#main_page{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}
/*HEBERG*/
#section_heberg{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1170px;
    height: 833px;
    background-color: #ececec;
    border-radius: 20px;
}
/*ASIDE*/
#section_aside{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 560px;
    height: 833px;
    background-color: #ececec;
    border-radius: 20px;
    margin-left: 60px;
}
/*ACTIVITES*/
#section_acti{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/*SECTION HEBERGEMENT*/

.ul_h2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 10px;
    margin: 0;
}
.ul_h2 a{
    text-decoration: none;
    color: black;
}

.ul_cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 330px;
    height: 265px;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 2px 2px 4px #e7e7e7;
}
.ul_cards a:link{
    text-decoration: none;
}
.star_quality{
    color: #0266fb;
}

.img_cards_heberg{
    width: 320px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    vertical-align: top;
}
.text_card p, div, h3, h5{
    margin: 3px;
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 1px;
}
.text_card{
    color: black;
    font-size: 14px;
}
/*SECTION ASIDE*/
#aside{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 560px;
    height: 833px;
    background-color: #ececec;
    border-radius: 20px;
}
.img_cards_aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 179px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.ul_cards_aside{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 460px;
    height: 191px;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 52px;
    padding-left: 6px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #e7e7e7;
    border-radius: 20px;
}
.text_card_aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    margin-left: 30px;
    width: 190px;
    height: 179px;
}
.article_cards_aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.star_aside{
    margin-top: 35px;
}
.ul_cards_aside a{
    text-decoration: none;
}
#ul_h2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding-left: 2px;
}
/*SECTION ACTIVITES*/
#acti {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 1820px;
    height: 565px;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 0;
}
.cards_acti_HS{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 408px;
    margin: 0;
    padding: 0;
}
/*Personnalisation des images cartes hautes*/
.article_cards_HS img, .article_cards_LS img, .article_cards_HLS img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
.article_cards_HLS img, .article_cards_LS img, .article_cards_HS img{
    width: 400px;
}
.article_cards_HLS img{
    height: 146px;
}
.article_cards_LS img{
    height: 238px;
}
.article_cards_HS img{
    height: 517px;
}
.article_cards_HS, .article_cards_LS, .article_cards_HLS{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 2px 2px 4px black;
    margin: 0;
    padding: 2px;
}
/*Margin de 30px pour l'esapce entre les cartes petites et moyennes
.margin_10{
    margin-bottom: 30px;
}*/
/*Hauteur et longueur des cartes Activités*/
.article_cards_HLS, .article_cards_HS, .article_cards_LS{
    height: fit-content;
    width: fit-content;
}
/*Suppression soulignage et personnalisation couleur des liens Activités*/
.link_acti a{
    text-decoration: none;
    color: black;
}
/*Mise en place du texte*/
.text_card_acti{
    width: max-content;
}
/*FOOTER*/
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    width: 100%;
    height: fit-content;
}
.ul_footer{
    display: table-column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.ul_footer a{
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
}
