/*BODY*/
body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Times New Roman';
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}
/*LISTES*/
li 
{
    list-style-type: none; /*Suppression du point*/
}
ul
{
    padding-left: 0; /*suppression de la marge à gauche*/
}
/*LIENS*/
a
{
    color: blue;
}
a[href="#heberg"]:hover, li a[href="#acti"]:hover
{
    border-top: solid 4px  #0266fb;
    border-spacing: 5px;
    padding-top: 38px;
    box-sizing: border-box;
}
a :active{
    color: red;
}

a:visited{
    color: blueviolet;
}
/*ETOILES*/
.star_quality .star_black{
    color: #d9d9d9;
}
/*HEADER*/
#contenaire
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 20px;
}
#logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 108px;
    object-fit: cover;
    padding-left: 13px;
}
#box_nav
{
    width: 400px;
}
#nav_links
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 20px;
}
/*FORMULAIRE*/
#form_search
{
    display: flex;
    flex: nowrap;
    justify-content: flex-start;
}
#localisation, #txt, #rech, input[type="search"], input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 45px;
}
#localisation{
    width: 46px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f2f2f2;
}
#localisation:hover, input[type="submit"]:hover, button:hover{
    cursor: pointer;
}
input[type="search"]{
    border-style: none;
    border-bottom: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
    width: 200px;
    font-weight: bold;
    padding-left: 30px;
    font-size: 16px;
}
input[type="submit"]/* cible le champ input type envoi*/{
    border: 2px solid #0063f6;
    background-color: #0063f6;/*couleur identique à la box #rech*/
    width: 115px;
    border-top-right-radius: 15px;/*arrondi sup droit*/
    border-bottom-right-radius: 15px;/*arrondi inf droit*/
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}
/*FILTRES*/
#ul_filtres, #ul_info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ul_filtres button, #ul_filtres i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
button{
    padding: 0;
}
.textes_button:not(#filtres)
{
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
#filtres{
    font-weight: bold;
    padding-right: 20px;
    font-size: 14px;
}
#ul_filtres li{
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
}
button
{
    border-radius: 20px;
    border-style: none;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}
#logo_info
{
    margin-right: 10px;
    color: #0063f6;
}
#ul_filtres i, #ul_info i
{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
}
#ul_filtres i{
    background-color: #deebff;
    color: #0266fb;
}
#ul_info i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1pt solid #e7e7e7;
}
#section_form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}
#section_form, #present, #style_form, #ul_filtres, #ul_info{
    margin-bottom: 10px;
    padding: 0;
}
/*MAIN ET SECTIONS*/
main{
    padding-left: 20px;
}
/*BOX MAIN (HEBERG+ASIDE)*/
#main_page{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}
/*HEBERG*/
#section_heberg{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    background-color: #ececec;
    border-radius: 20px;
    height: fit-content;
}
/*ASIDE*/
#section_aside{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    background-color: #ececec;
    border-radius: 20px;
    margin-left: 40px;
}
/*ACTIVITES*/
#section_acti{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/*SECTION HEBERGEMENT*/

.ul_h2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 10px;
    margin: 0;
}
.ul_h2 a{
    text-decoration: none;
    color: black;
}

.ul_cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 240px;
    height: 180px;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 2px 2px 4px #e7e7e7;
}
.ul_cards a:link{
    text-decoration: none;
}
.star_quality{
    color: #0266fb;
}

.img_cards_heberg{
    width: 238px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    vertical-align: top;
}
.text_card p, div, h3, h5{
    margin: 3px;
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 1px;
}
.text_card{
    color: black;
}
/*SECTION ASIDE*/
#aside{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    height: 600px;
    background-color: #ececec;
    border-radius: 20px;
}
.img_cards_aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 109px;
    height: 113px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.ul_cards_aside{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px;
    height: 120px;
    margin: 15px;
    padding-left: 3px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #e7e7e7;
    border-radius: 20px;
}
.text_card_aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.article_cards_aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.ul_cards_aside a{
    text-decoration: none;
}
#ul_h2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding-left: 2px;
}
/*SECTION ACTIVITES*/
#acti{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 400px;
    width: 100%;
}
.cards_acti_HS{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:260px
}
/*Personnalisation des images cartes hautes*/
.article_cards_HS img, .article_cards_LS img, .article_cards_HLS img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 20%;
}
.article_cards_HLS img, .article_cards_LS img{
    width: 257px;
}
.article_cards_HLS img{
    height: 91px;
}
.article_cards_LS img{
    height: 154px;
}
.article_cards_HS img{
    height: 328px;
    width: 260px;
}
.article_cards_HS, .article_cards_LS, .article_cards_HLS{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 2px 2px 4px black;
    margin: 0;
    padding: 2px;
}
.margin_10{
    margin-bottom: 30px;
}
/*Hauteur et longueur des cartes Activités*/
.article_cards_HLS, .article_cards_HS, .article_cards_LS{
    height: fit-content;
    width: fit-content;
}
/*Suppression soulignage et personnalisation couleur des liens Activités*/
.link_acti a{
    text-decoration: none;
    color: black;
}
/*Mise en place du texte*/
.text_card_acti{
    width: max-content;
}
/*FOOTER*/
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    width: 100%;
    height: fit-content;
}
.ul_footer{
    display: table-column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.ul_footer a{
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
}
