/*BODY*/
body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Times New Roman';
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}
/*DIMENSIONS 992_NONE*/
body, #contenaire{
    width: 100%;
    min-width: 992px;
    max-width: fit-content;
}
/*LISTES*/
li /*Suppression du point pour les balises LI*/
{
    list-style-type: none; 
}
ul /*suppression de la marge à gauche pour les balises UL*/
{
    padding-left: 0;
}
/*LIENS*/
a /*Tous les liens en couleur noire et sans souslignage*/
{
    color: black;
    text-decoration: none;
}
a :active/*Couleur rouge à l'activation*/
{
    color: red;
}

a:visited/*couleur violet pour les liens visités*/
{
    color: blueviolet;
}
/*ETOILES (Couleur grisatre pour les étoiles de la seconde class="star_black")*/
.star_quality .star_black
{
    color: #d9d9d9;
}
.star_quality /*Marge supérieur*/
{
    margin-top: 15px;
}
/*Taille responsive des polices
h1 {
    font-size: 4vw;  ici 4% de la largeur de mon écran (viewport widht)
} (a voir si garder)*/

/*HEADER*/
#contenaire, #box_logo, #logo, #box_nav,
#heberg_li, #acti_li{
    margin: 0;
    padding: 0;
}
#contenaire
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 992px;
    max-width: none;
    height: 100%;
    min-height: 50px;
    max-height: 100px;
    border: 0;
    margin-right: 0;
}
#logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 41px;
    max-width: 200px;
    object-fit: cover;
    padding-left: 13px;
    /*Transition longue avec l'effet ease-in-out (accèlere puis ralentit)*/
    transition: all .30000s ease-in-out;
}
#logo:hover{/*pour le fun: a supprimer*/
    transform: rotate(360deg); /*Rotation 360°*/
    background-color: #e7e7e7;
    /*Border radius 50% avec proportions non égales donc elipse ^_^*/
    border-radius: 50%;
    box-shadow: 2px 2px 4px #0266fb;
    /*Marge sup et G*/
    margin-top: 10px;
    margin-left: 10px;
}
#box_nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 230px;
    max-width: fit-content;
}
#heberg_li, #acti_li{
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size-adjust: inherit;
}
/*HOOVER DU MENU NAV*/
li a[href="#heberg"]:hover, li a[href="#acti"]:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-top: 3px solid  #0266fb;
    color: #0266fb;
    width: 100%;
    min-width: 215px;
    height: 100%;
    min-height: 100px;
    /* Une transition pour rendre ça fluide */
    transition: all .3s ease;
    /*position: fixed;_fixer le deplacement de la bordure bleu(voir avec TD)*/
    margin: 0;
}
/*PERSONALISATION DES LIENS NAV*/
li a[href="#heberg"], li a[href="#acti"]{
    color: #9c9c9c;
    font-size: 20px;
}
#nav_links
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
/*FORMULAIRE*/
#form_search/*contenaire du formulaire*/
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /*longueur du contenaire*/
    width: 100%;
    min-width: 291px;
    max-width: fit-content;
    /*Marge inf*/
    margin-bottom: 2%;
}
/*Suprresion de l'apparence du bouton*/
#rech, input[type="search"], #localisation{
    border-style: none;
}
#localisation, #txt, #rech, input[type="search"], input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 35px;
    max-height: 46px;
}
/*BOUTON LOCALISATION*/
#localisation{
    width: 71px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #f2f2f2;
}
/*TAILLE DES ICONES*/
#localisation i{
    font-size: 20px;
}
/*CHANGEMENT DU CURSEUR AU SURVOL*/
#localisation:hover, input[type="submit"]:hover, button:hover{
    cursor: pointer;
}
/*BOUTON SAISIE/AFFICHAGE LOCALITE*/
input[type="search"]{
    /*Mise en place d'une nouvelle bordure*/
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    /*Taille de l'élement*/
    width: 100%;
    min-width: 162px;
    /*Mise en gras du texte*/
    font-weight: bold;
    /*Décalage vers la gauche du texte affiché*/
    padding-left: 15%;
    /* Une transition pour le changement d'icone */
    transition: all .3s ease;
    /*Ajustement de la police*/
    font-size-adjust: inherit
}
/*OCCULTATION DE LA LOUPE*/
#loupe_mobile{
    display: none;
}
/*BOUTON RECHERCHER*/
input[type="submit"]/* cible le champ input type envoi*/
{
    border: 2px solid #0063f6;
    background-color: #0063f6;/*couleur identique à la box #rech*/
    width: 100%;
    min-width: 93px;
    border-top-right-radius: 15px;/*arrondi sup droit*/
    border-bottom-right-radius: 15px;/*arrondi inf droit*/
    font-weight: bold;
    color: #ffffff;
    font-size-adjust: inherit;
}
/*FILTRES*/
#ul_filtres, #ul_info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ul_filtres button, #ul_filtres i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#ul_filtres button:hover{
    color: #0266fb;
}
button{
    padding: 0;
}
.textes_button:not(#filtres)
{
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
#filtres{
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}
#ul_filtres li{
    padding-right: 10px;
    width: fit-content;
    height: fit-content;
}
button
{
    border-radius: 40px;
    border-style: none;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}
#logo_info
{
    margin-right: 10px;
    color: #0063f6;
}
#ul_filtres i
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
#ul_filtres i{
    background-color: #deebff;
    color: #0266fb;
}
#ul_info i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1pt solid #e7e7e7;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#section_form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
#section_form, #present, #style_form, #ul_filtres, #ul_info{
    margin-bottom: 10px;
    padding: 0;
}
/*MAIN ET SECTIONS*/
main{
    padding-left: 20px;
    width: 100%;
    min-width: 992px;
    max-width: fit-content;
}
/*BOX MAIN (HEBERG+ASIDE)*/
#main_page{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}
#main_page, #section_heberg, #section_aside{
    min-height: 430px;
    max-height: 1886px;
}
/*Propriétés communes heberg/aside*/
#section_heberg, #section_aside{
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
    border-radius: 20px;
    width: 100%;
}
/*HEBERG*/
#section_heberg{
    justify-content: space-evenly;
    flex-direction: row;
    min-width: 605px;
    max-width: max-content;
}
/*ASIDE*/
#section_aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 290px;
    max-width: 40vw;
    margin-left: 5vw;
}
/*ACTIVITES*/
#section_acti{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/*SECTION HEBERGEMENT*/

.ul_h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    margin-top: -5px;
}
.ul_h2 a{
    text-decoration: none;
    color: black;
}

.ul_cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 230px;
    height: 198px;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 2px 2px 4px #e7e7e7;
    /*Transition d'une seconde sur transformation*/
    transition: transform .3s ease-in-out;
}
.ul_cards:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); /*Transformation_augmentation de la teille prédéfini d'1.5*/
    /*Marge droite et gauche pour ne pas gener la vue des autres cartes
    margin-left: 15px;
    margin-right: 15px;a supprimer?*/
    box-shadow: 4px 4px 3px #e7e7e7;
    }
.ul_cards a:link{
    text-decoration: none;
}
.star_quality{
    color: #0266fb;
}
.img_l_cards_heberg{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 220px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.img_m_cards_heberg, .img_s_cards_heberg{
    display: none;
}
.text_card p, div, h3, h5{
    margin: 3px;
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 1px;
}
.text_card{
    color: black;
    font-size: 14px;
}
/*SECTION ASIDE*/
#aside{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 560px;
    height: 833px;
    background-color: #ececec;
    border-radius: 20px;
}
.img_cards_aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 179px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.ul_cards_aside{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: fit-content;
    height: 191px;
    padding-left: 6px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #e7e7e7;
    border-radius: 20px;
    /*Transition d'une seconde sur transformation*/
    transition: transform .3s ease-in-out;
    
}
.ul_cards_aside:hover{
    box-shadow: 4px 4px 3px #e7e7e7;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); /*Transformation_augmentation de la teille prédéfini d'1.5*/
}
.text_card_aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    margin-left: 30px;
    width: 190px;
    height: 179px;
}
.article_cards_aside{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.star_aside{
    margin-top: 35px;
}
.ul_cards_aside a{
    text-decoration: none;
}
#ul_h2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding-left: 2px;
}
/*SECTION ACTIVITES*/
#acti {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 1820px;
    height: 565px;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 0;
}
.cards_acti_HS{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 408px;
    margin: 0;
    padding: 0;
}
/*Personnalisation des images cartes hautes*/
.article_cards_HS img, .article_cards_LS img, .article_cards_HLS img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
.article_cards_HLS img, .article_cards_LS img, .article_cards_HS img{
    width: 400px;
}
.article_cards_HLS img{
    height: 146px;
}
.article_cards_LS img{
    height: 238px;
}
.article_cards_HS img{
    height: 517px;
}
.article_cards_HS, .article_cards_LS, .article_cards_HLS{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 2px 2px 4px black;
    margin: 0;
    padding: 2px;
}
.article_cards_HS:hover, .article_cards_LS:hover, .article_cards_HLS:hover{
    box-shadow: 2px 2px 4px #0266fb;
}
/*Margin de 30px pour l'esapce entre les cartes petites et moyennes
.margin_10{
    margin-bottom: 30px;
}*/
/*Hauteur et longueur des cartes Activités*/
.article_cards_HLS, .article_cards_HS, .article_cards_LS{
    height: fit-content;
    width: fit-content;
}
/*Suppression soulignage et personnalisation couleur des liens Activités*/
.link_acti a{
    text-decoration: none;
    color: black;
}
/*Mise en place du texte*/
.text_card_acti{
    width: max-content;
}
/*FOOTER*/
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    width: 100%;
    height: fit-content;
}
.ul_footer{
    display: table-column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 30px;
    margin-left: 3px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.ul_footer a{
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
}
.ul_footer a:hover{ 
    animation: pulse 1s infinite; /*animation défini sur puls pendant 1s(rapide) de façon continu*/
    animation-timing-function: linear; /*vitesse constante de l'animation*/
    font-weight: bold;
    width: fit-content; /*fit-content sur la longueur pour centrer l'effet pulsation*/ 
  }
  /*étapes de la "pulsation"*/
  @keyframes pulse {
    0% { transform: scale(1); } /*0% état originel*/
    50% { transform: scale(1.1);/*50% état Zoom*/
    100% { transform: scale(1); }/*100% on retourne à l'état originel*/
    }
  }  